//******* header *******//
.logopad{
    padding-bottom: 30px;
    padding-top: 30px;
    width:200px;
  }

//******* formulaire *******//
.h1desk{
    font-size:40px;
}

.btn {

    h1{
        padding-bottom:18px;
        padding-top:30px}
    
}

.btnsearch{
    margin-bottom:30px;
}

//******* section fuction and restaurantbox *******//

.function, .restaurantbox{
    padding-left:180px;
    padding-right:180px;
}

//******* function *******//
.function{
    padding-top:50px;
    padding-bottom:50px;
    margin-left:0px;
    margin-right:0px;
}

.boxfilter{
    display: grid;
    padding-left: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 36px;
}

.flexfilter{
    padding-right: 38px;
    padding-top: 27px;
    padding-bottom: 27px;

}

.filtertxt{
    padding-right: 36px;
}

.ellipse{
    margin-left:-47px;
    left:auto;
}

//******* restaurantbox *******//
.restaurantbox{
    padding-bottom: 30px;
    padding-top: 30px;
}

.cardcontainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 50px 91px;
    padding-left:0px;
    padding-right:0px;
}

.card img{
    width:100%;
    object-position: center;
}

//******* footer *******//
.flexfooter{
    flex-direction: row-reverse;
    padding-top: 57px;
    padding-right: 26px;
    padding-bottom: 30px;
    gap:90px;
}

.footlogo{
    padding-right: 41px;
}

.footerlinks{
    flex-direction: row-reverse;
    ul{
        display: flex;
        gap:15px;}
    li{
        padding:0px;}
}

.footerlinktxt{
    font-weight: 400;
}

.dskfootadapt{
    padding-right:33px;
}
//******* restpage *******//
.homestyle{
    margin-left: 193px;
    margin-right: 193px;
    padding-top: 51px;
    justify-content: center;
    gap:24px;
}

.starter-dish-dessert{
    margin-left: 193px;
    margin-right: 193px;
    padding-left:211px;
    padding-right:211px
}

.ordersection{
    margin-left: 193px;
    margin-right: 193px;
    padding-left:211px;
    padding-right:211px
}

.selectionmenu{
    gap:12px;
}

