h1, h2, h3, p {
  margin: 0;
  Color: #000000;
}

a {
  text-decoration: unset;
}

.titlefonts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0px;
}

.logoposition {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: sticky;
}

.logopad {
  padding-bottom: 5px;
  padding-top: 14px;
  height: 44px;
  width: 162px;
}

.rtnbtn {
  position: absolute;
  top: 24px;
  left: 23px;
}
.rtnbtn i {
  color: #353535;
}

.formsection {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  margin-top: 0.5px;
}

.localdotitem {
  width: 12px;
  height: 16px;
  padding-top: 16.5px;
  padding-bottom: 17px;
}

.inputstyle {
  border: none;
  background-color: #EAEAEA;
  width: 112px;
  padding-left: 0px;
  padding-right: 0px;
}

.inputstyle::placeholder {
  color: #353535;
  opacity: 1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.btn {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  text-align: center;
  align-items: center;
}
.btn h1 {
  padding-top: 39.5px;
  margin-bottom: 12px;
  width: 80%;
}

.discovertxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  margin: 0px;
  padding-bottom: 30px;
}

.btnsearch {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 18.75px;
  margin-bottom: 57px;
}

.function {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 68px;
}
.function h2 {
  padding-bottom: 26px;
}

.boxfilter {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.flexfilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 34px;
  background-color: #F7F7F7;
}

.ellipse {
  padding: 4px 8px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.1818px;
  line-height: 17px;
  position: absolute;
  left: 7px;
}

.filtertxt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 25px;
}

.false {
  color: #7E7E7E;
}

.true {
  color: #9356DC;
}

.restaurantbox {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding-top: 54px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 66px;
  gap: 18px;
}
.restaurantbox h2 {
  padding-left: 5px;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.card img {
  height: 174px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cardtxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardtxt i {
  padding-right: 15px;
  color: black;
  font-size: 24px;
}

.subtitles {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 13px;
  padding-bottom: 16px;
  gap: 4px;
}
.subtitles h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.subtitles p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.flexfooter {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-top: 22px;
  padding-left: 25px;
  padding-bottom: 15px;
  gap: 16px;
}

.footlogo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.footerlinks {
  display: flex;
  flex-direction: column;
}
.footerlinks ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.footerlinks li {
  padding-bottom: 7px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 11px;
}
.flexrow i {
  font-size: 13px;
  width: 11px;
}

.footerlinktxt {
  display: flex;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.homemenur1 {
  display: flex;
  flex-direction: column;
}
.homemenur1 img {
  height: 275px;
  object-fit: cover;
}

.homestyle {
  display: flex;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -40px;
  background-color: #F7F7F7;
  padding-top: 32px;
  padding-left: 17px;
  justify-content: space-between;
  padding-bottom: 42px;
}

.restname {
  display: flex;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
}

.ipos {
  padding-right: 41px;
  align-items: center;
  display: flex;
}

.starter-dish-dessert {
  display: flex;
  background-color: #F7F7F7;
  flex-direction: column;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
}

.menusubtitles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
}

.subdeco {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

.selectionmenu {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.nx {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 5px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.selectname {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.selectiontxt {
  display: flex;
  justify-content: space-between;
}

.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
}

.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  padding-right: 15px;
  font-size: 15.0431px;
  line-height: 18px;
}

.ordersection {
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
}
.ordersection btnsearch {
  margin: 0px;
  padding-bottom: 40px;
}

.btncommand {
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
  height: 50px;
  width: 186px;
  align-items: center;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=Mobile.css.map */